.button {
    text-align: center;
    min-width: 216px;
    border-radius: 4px;
    padding: 11px 32px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);
    
    background-color: var(--accent-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-color: transparent;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: var(--background-color-current);
}

@media screen and (min-width: 1200px) {
    line-height: 1.87;
    cursor: pointer;
    border: none;
}
}