.header-container {
    display: flex;
    align-items: center;
}
.page-header {
    border-bottom: 1px solid #ECECEC;
    min-width: 80px;
}

.auth-nav {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        // display: flex;
        margin-left: auto;
    }
    
}
.auth-nav .auth-item + .auth-item {
    margin-left: 50px;
}
.header-auth-link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;  
    object-fit: contain;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--accent-color);
}
}

.mail {
    margin-right: 10px;
    fill: currentcolor;
    vertical-align: middle;
}
.header-auth-link > .mail:hover,
.header-auth-link > .mail:focus {
    fill: var(--accent-color);
}
.tel {
    margin-right: 10px;
    fill: currentcolor;
    vertical-align: middle;
}
.header-auth-link >.tel:hover,
.header-auth-link >.tel:focus {
   fill: var(--accent-color);
}