.job {
    padding-top: 0;

    @media screen and (max-width: 1199px) {
    display: none;
}
}
.job__container .job__site {
    display: flex;
    gap: 30px;
}
.job__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
.job__item {
    flex-basis: calc((100% - 30px * 2) / 3);
    position: relative;
}
.job__image {
    display: block;
    max-width: 100%;
}
.job__option {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}
.job__text {
    display: flex;
    position: absolute;
    width: 370px;
    height: 70px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}