.logo {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;        
    letter-spacing: 0.03em;
    color: var(--black-color);
    text-decoration: none;
}
// logo footer

.logo-second {
    margin-bottom: 20px;
    color: var(--white-color);
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}