.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.2);
    z-index: var(--idx-backdrop);
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    overflow-y: scroll;
    
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) ;
    width: 528px;
    height: 581px;
    padding: 40px;
    
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    transition: transform 250ms ease-out;

    @media (max-width: 767px)  {
          position: relative;
          max-width: 450px;
        }
}
.backdrop.is-hidden .modal {
    transform: translateX(-65%) translateY(-65%);
}
.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:hover,
    &:focus {
    fill: #2196F3;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}

.form-field {
    position: relative;
    margin-bottom: 10px;
    display: block;
}
.form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    display: inline-block;
    fill: #000000;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transform: translateY(-50%); */
}
.form-label {
    margin-bottom: 4px;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
}

.form-input {
    border: none;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    color: #212121;
    padding-left: 42px;
    
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: #2196F3;
    }
}

.form-field:focus-within > .form-input {
    border-color: #2196F3;
} 
.form-field:focus-within > .form-icon {
    fill: #2196F3;
}
.coment-title {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}
.form-message {
    display: block;
    padding-top: 12px;
    padding-left: 16px;
    width: 100%;
    height: 120px;
    resize: none;
    border: none;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: #212121;
    padding-left: 12px;

    &:focus {
        border-color: #2196F3;
        transition-property: border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
        
    }
}

.form-agreement {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    @media (max-width: 767px) {
         align-items: baseline;
         
        }
}
.form-checkbox {
    appearance: none;
    width: 16px;
    height: 15px;
    border: 2px solid #757575;
    border-radius: 2px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='10' fill='none'%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='.2' d='m1.957 4.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z'/%3E%3C/svg%3E");
    cursor: pointer;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0;
    
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:checked {
        background-color: #2196F3;
        border-color: transparent;
        background-size: contain;
    }
}

.form-btn {
    display: block;
    margin: 0 auto;
}
.form-agreement-text {
    margin-left: 7px;
    user-select: none;
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    @media (max-width: 767px) {
        font-size: 12px;
       }
}
.form-agreement-link {
    color: #2196F3;
  
}