body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    color: var(--background-color);
}

.accent {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}